body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo h1 {
  display: none;
}

#logo img {
  max-width: 100px;
  height: auto;
}

#estado {
  display: flex;
  align-items: center;
  gap: 10px;
}


#totalCarrito {
  font-size: 1.2em;
}

main {
  padding: 20px;
}

h2 {
  font-size: 2em;
  align-self: center;
  text-align: center;
}

#busquedaFiltro {
  margin-bottom: 20px;
}

#busquedaFiltro select {
  padding: 10px;
  font-size: 1em;
}

#contenidoShop {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 350px;
  padding: 20px;
  text-align: center;
  box-shadow: 3px 3px 15px 1px #d6d4d4;
 
}

.product:hover{
  box-shadow: 3px 3px 15px 1px #5CAEBF;
}


.product img {
  max-width: 100%;
  height: auto;
}

.product h3 {
  font-size: 1.2em;
  margin: 0;
  padding-top: 10px;
 
}

.product h4 {
  font-size: 1em;
  font-weight: normal;
  color: cadetblue;
  margin: 10px 0;
}

.product .botones{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

button {
  background-color: cadetblue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  width: 50%;
  border-radius: 5px;
  box-sizing: border-box;
}


.botones button:last-child {
  background-color: white;
  color: cadetblue;
  border: #333 solid 1px; 
}

#modalCarrito {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.carritoContainer {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  box-sizing: border-box;
}

.carritoContainer header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;

}

.carritoContainer .eliminar {
  width: 35px;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  color: white;
  font-size: 2em;
  cursor: pointer;
}

.productoCarrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.productoCarrito img {
  max-width: 100px;
  height: auto;
}

.productoCarrito .contenidoProducto {
  flex: 1;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #ddd;
}

.productoCarrito .eliminar{
  font-size: 1.2em;
  color: #333;

}

.productoCarrito h5{
  color: cadetblue;
  font-weight: normal;
  font-size: 1em;
}

.cantidadTotal h3{
  margin: 0;
}
.cantidadTotal h3:first-child {
  font-size: 1.2em;
  font-weight: normal;
  margin: 1em 0;
}

.finalizarCompra{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.notificacionCartel {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: cadetblue;
  color: #fff;
  padding: 10px;
  z-index: 1000;
  border-radius: 5px;
}

/* Estilos para el modal */
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  
}

.modalContent h4{
  color: cadetblue;
  font-weight: normal;
}

.cerrarModal {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  margin: 0;
  width: 35px;
  font-size: 1.5em;
  cursor: pointer;
}

.cerrarModal:hover {
  color: #e60023;
}

/* Estilos del footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #e60023;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Estilos responsivos */
@media (max-width: 768px) {

  header {
      flex-direction: column;
      text-align: center;
  }
}

@media (max-width: 480px) {
  #logo img {
      max-width: 250px;
  }
  #logo h1 {
    display: none;
  }

  .product {
      flex: 1 1 100%;
  }

  #estado button, .product button {
      padding: 10px;
      font-size: 0.9em;
  }
}